<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
  <a class="navbar-brand" href="/" style="font-size: 45px; font-family: 'growingGarden', Verdana;">Flora</a>
  <img src="images/floraIcon.png" width="60" height="60">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/plantSearch">Plant Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Information
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/information">Getting Started</a></li>
          <li><a class="dropdown-item " href="/watering">Watering</a></li>
          <li><a class="dropdown-item" href="/sunlight">Sunlight</a></li>
          <li><a class="dropdown-item" href="/fertilizer">Fertilizer</a></li>
          <li><a class="dropdown-item" href="/diseases_pests_weeds">Diseases, Pests, and Weeds</a></li>
          <li><a class="dropdown-item" href="/agr_zones">Agricultural Zones</a></li>
          <li><a class="dropdown-item" id="companion_planting" href="/companion_planting">Companion Planting</a></li>
          <li><a class="dropdown-item" id="composting" href="/composting">Composting</a></li>
        </ul>

      </li>


      <li class="nav-item">
        <a class="nav-link" href="/forum">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_garden">My Garden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<body id="topOfPage">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>Agricultural Zones</h1>
  <br>

  <div class="googleTranslateBox">
    <div class="googleTranslate"> <!--Google translate feature-->
      <br>
      <h6>You can translate this page to 100+ different languages now!</h6>
      <div id="google_translate_element"></div>
    </div>
  </div>

  <br>
  <br>
  <!--Table of Contents to aid in user's navigation of the page-->
  <div class="tableOfContents">
    <a href="#whatIs">What are Agricultural Zones?</a> <!--Info on what agricultural zones are-->
    <br>
    <a href="#hardinessZones">How to Use Hardiness Zones?</a> <!--Info on Hardiness Zones-->
    <br>
    <a href="#resources">Additional Resources</a> <!--Links to additional resuorces-->
    <br>

  </div>

  <br>
  <br>
  <hr class="dashed">

  <h2 id="whatIs">What are Agricultural Zones?</h2>
  <br>
  <p>Agricultural zones AKA plant hardiness zones are specified regions of the United States defined by the temperature
    they experience over the course of a year. These agricultural zones let gardeners know what grows best wherever they
    are, when to plant and harvest, and may inform your watering needs as well. Agricultural zones may seem daunting or
    confusing at first, but they're a useful tool to help gardeners find information specific to the area they live in.
    For example: Florida has a uniquely warm climate which means a lot of plants are planted earlier due to the risk of
    frost subsiding much earlier in Florida than in other states. By understanding which agriculutal zone you are in you
    can search for plants well suited to your local climate and plant care specific to your region.
    <br><br>
  </p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <iframe class="youtube" style="width:99%" width="560" height="315"
          src="https://www.youtube.com/embed/a9pRyIrzsh8" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <iframe class="youtube" style="width:99%" width="560" height="315"
          src="https://www.youtube.com/embed/oPi8a48Adno" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <br>
  <br>
  <hr class="dashed">

  <h2 id="hardinessZones">How to Use Hardiness Zones for Plants to Decide What to Grow</h2>
  <br>

  <p>
    The USDA Hardiness Zone Map can help you zero in on the perennials, trees, and shrubs that can tolerate your
    region's climate.
  </p>

  <p>
    Let's say you've just heard about a gorgeous perennial or maybe a spectacular shrub that you want to add to your
    garden.
    But will it survive in your region? This dilemma is why the USDA Plant Hardiness Zone Map was created. A glance at
    it, and
    you can figure out what your hardiness zone is. Terrific, now what? Most hardy plants have a zone rating to indicate
    where
    they will survive the winters from year to year. Maybe the plant you have your eye on is hardy in Zones 5-9, and you
    live in
    Zone 4. That could be iffy, but you could try it if you don't mind a little risk for the thrill of growing something
    that
    normally wouldn't survive in your region. Or, you could play it safe and find another plant that can withstand your
    area's
    coldest temperatures. Either way, here's how you can use USDA Plant Hardiness Zones to guide your decision.
  </p>

  <p>
    For annual flowers such as petunias and vegetables such as zucchini, you don't need to pay attention to hardiness
    zones because
    these plants usually complete their life cycle (seed sprouting to seed producing) in a single year. You might see
    these plants
    given a zone rating of 0 to indicate they aren't hardy anywhere. But when you're dealing with perennials, vines,
    shrubs, and
    trees that typically live for many years, you'll want to find out the coldest temperatures a species is expected to
    survive and
    compare that to the zone you're in.
  </p>
  <p>
    When considering the hardiness zones a particular plant is rated for, think of that information as a guideline, not
    a guarantee
    that it will survive in your climate. The list below provides examples of plants that can take the cold in each USDA
    Hardiness
    Zone. Only the coldest zone for each listed plant is considered; some of the plants won't thrive in substantially
    warmer areas.
    Always check with the source of your plants for information on whether they are well-suited to your area.
  </p>

  <!-- Zone 1 -->
  <div id="zone1">
    <h3>Zone 1: Below -50°F</h3>
    <p>
      Most gardeners aren't dealing with freezing Zone 1 temperatures; only a few parts of Alaska, including cities such
      as Fairbanks, fall into this zone. Still, Zone 1 plants can withstand some of the most frigid conditions, because
      winter
      temperatures in this Zone can fall below -50°F.
    </p>
    <p>
      <b>When to Plant:</b> Mid-June
    </p>
  </div>

  <!-- Zone 2 -->
  <div id="zone2">
    <h3>Zone 2: -50 to -40°F</h3>
    <p>
      Again, Zone 2 mostly refers to areas in Alaska, including cities such as Prudhoe Bay and Unalakleet. However, the
      northernmost
      tip of Minnesota also falls in Zone 2b, so if you live in or near Pinecreek, you'll want to look for plants that
      are hardy in
      Zone 2. Temperatures in Zone 2 can average -40 to -50°F in the winter.
    </p>
    <p>
      <b>When to Plant:</b> Mid-June
    </p>
  </div>

  <!-- Zone 3 -->
  <div id="zone3">
    <h3>Zone 3: -40 to -30°F</h3>
    <p>
      Most plants native to the U.S. are found within Zones 3 to 10; the toughest of plants can withstand all of these zones.
      Zone 3 plants can withstand cold temperatures of -40 to -30°F. The upper Midwest states hold most of Zone 3, such as northern
      parts of Montana, North Dakota, Minnesota, Wisconsin, and Maine.
    </p>
    <p>
      <b>When to Plant:</b> Mid-May
    </p>
  </div>

  <!-- Zone 4 -->
  <div id="zone4">
    <h3>Zone 4: -30 to -20°F</h3>
    <p>
      Zone 4 plants can withstand minimum chilled temps from -30 to -20°F. You can find this zone in Montana, Wyoming, 
      North Dakota, South Dakota, Minnesota, Wisconsin, and Eastern states such as Northern New York, New Hampshire, 
      and Maine.
    </p>
    <p>
      <b>When to Plant:</b> Mid-May
    </p>
  </div>

  <!-- Zone 5 -->
  <div id="zone5">
    <h3>Zone 5: -20 to -10°F</h3>
    <p>
      This zone is another common one for the Midwest and Northeastern states, where humidity stays high during the 
      summers, and winters can reach as low as -20 to -10°F. You can find Zone 5 in states such as Colorado, Nebraska, 
      Iowa, Wisconsin, Illinois, Indiana, Michigan, and New York.
    </p>
    <p>
      <b>When to Plant:</b> Mid-April
    </p>
  </div>

  <!-- Zone 6 -->
  <div id="zone6">
    <h3>Zone 6: -10 to 0°F</h3>
    <p>
      It's the middle of the road for Zone 6. You can find this zone in Pacific Northwest states, such as Washington and 
      Oregon, and stretching over the middle of the U.S. in states such as Kansas, Missouri, Illinois, and all the way 
      through Ohio. Plants in this zone can withstand temperatures of -10 to 0°F.
    </p>
    <p>
      <b>When to Plant:</b> Mid-April
    </p>
  </div>


  <!-- Zone 7 -->
  <div id="zone7">
    <h3>Zone 7: 0 to 10°F</h3>
    <p>
      Winters only occasionally hit the negatives in this zone. Plants in Zone 7 can handle temperatures of 0 to 10°F. 
      You can find this zone in upper parts of the West (Washington, Oregon) and down through upper Texas, Oklahoma, 
      and all the way through Virginia and North Carolina.
    </p>
    <p>
      <b>When to Plant:</b> Mid-April
    </p>
  </div>

  <!-- Zone 8 -->
  <div id="zone8">
    <h3>Zone 8: 10 to 20°F</h3>
    <p>
      Things are starting to heat up in Zone 8. In this zone, native plants are loving the warmth. Not only that, 
      but plants will start to have a longer growing season in Zone 8. You can find this zone covering the West 
      Coast and most of the South, such as Texas, Louisiana, Mississippi, Alabama, Georgia, and the Carolinas.
    </p>
    <p>
      <b>When to Plant:</b> Mid-March
    </p>
  </div>

  <!-- Zone 9 -->
  <div id="zone9">
    <h3>Zone 9: 20 to 30°F</h3>
    <p>
      It's pure California dreaming with hot and heavy temperatures hitting this zone. These plants can withstand 
      temperatures as low as 20 to 30°F but thrive in 70-90° temperatures. You can find Zone 9 consuming California's 
      landscape, along with Southern Texas, Louisiana, and Florida.
    </p>
    <p>
      <b>When to Plant:</b> Mid-February
    </p>
  </div>

  <!-- Zone 10 -->
  <div id="zone10">
    <h3>Zone 10: 30 to 40°F</h3>
    <p>
      Zone 10 sees some of the hottest temperatures in the U.S., prevalent in tropical places such as Southern California
      and Southern Florida. Plants in this zone can handle temperatures as low as 30 to 40°F.
    </p>
    <p>
      <b>When to Plant:</b> Mid-January
    </p>
  </div>

  <!-- Zone 11 -->
  <div id="zone11">
    <h3>Zone 11: 40 to 50°F</h3>
    <p>
      Tropical plants flourish in Zone 11, which covers Hawaii. This zone enjoys year-round heat, and plants can withstand 
      temperatures above 40 to 50°F. There is no frost whatsoever, and native plants thrive throughout the whole year.
    </p>
    <p>
      <b>When to Plant:</b> Any time
    </p>
  </div>


  <br>

  <hr class="dashed">

  <!-- Resources used-->
  <h2 id="resources">Additional Resources</h2>
  <ul>
    <li> <a href="https://planthardiness.ars.usda.gov">[1] USDA Plant Hardiness Zone Map </a> </li>
    <li> <a href="https://www.almanac.com/what-are-plant-hardiness-zones">[2] What Are Plant Hardiness Zones?</a> </li>
    <li> <a href="https://www.bhg.com/gardening/gardening-by-region/how-to-use-hardiness-zone-information/">[3] How to Use Hardiness Zones for Plants to Decide What to Grow? </a> </li>
    <li> <a href="https://ffl.ifas.ufl.edu/resources/ffl-minute-radio/2021-archive/january-2021/plant-hardiness-zones/#:~:text=The%20Department%20of%20Agriculture%20has,best%20suited%20for%20your%20area.">[4] Florida-Friendly Landscaping Zones </a> </li>
  </ul>

  <br>
  <br>

  <button onclick="document.location='#topOfPage'">Back To Top</button> <!--Back to top button-->
  <br>
  <br>
  <br>

</body>

<!--Google Translate feature-->
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
  }
</script>
<script type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<style>
  body {
    background-color: #FAF9F6;
    margin: auto;
  }

  h1 {
    text-align: center;
    color: #365E36;
  }

  h2 {
    text-align: center;
    color: #365E36;
  }

  h3 {
    color: #365E36;
  }

  .tableOfContents {
    text-align: center;
    font-size: 20px;
    background-color: #F4FFEB;

    border-style: dotted;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }

  /* unvisited link */
  a:link {
    color: #30007D;
  }

  /* visited link */
  a:visited {
    color: #30007D;
  }

  /* mouse over link */
  a:hover {
    color: #72418B;
  }

  /* selected link */
  a:active {
    color: blue;
  }

  hr.dashed {
    border-top: 3px dotted #30007D;
  }

  .youtube {
    text-align: center;
  }

  button {
    /*Back to Top Button Styling*/
    background-color: #365E36;
    color: white;
    border-color: #365E36;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  /*Google Translate*/
  .googleTranslate {
    justify-content: center;
  }

  .googleTranslateBox {
    text-align: center;
    font-size: 20px;
    background-color: #F4FFEB;

    border-style: dotted;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }

  @font-face {
    font-family: growingGarden;
    src: url("fonts/growingGarden.ttf") format("truetype");
  }

  .nav-item {
    font-size: 18px;
  }
</style>
<script>
  $(document).ready(() => {
    $.ajax({
      url: "/getCurrentXP",
      type: 'GET',
      success: (data) => {
        if (data.experience == "Beginner") {
          $("#companion_planting").hide();
          $("#composting").hide();
        }
        if (data.experience == "Intermediate") {
          $("#composting").hide();
        }
      }
    })
  })

</script>