<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
    <a class="navbar-brand" href="/">Flora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/plantSearch">Plant Search</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
              Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/information">Getting Started</a></li>
              <li><a class="dropdown-item " href="/watering">Watering</a></li>
              <li><a class="dropdown-item" href="/sunlight">Sunlight</a></li>
              <li><a class="dropdown-item" href="/fertilizer">Fertilizer</a></li>
              <li><a class="dropdown-item" href="/diseases_pests_weeds">Diseases, Pests, and Weeds</a></li>
              <li><a class="dropdown-item" href="/agr_zones">Agricultural Zones</a></li>
              <li><a class = "dropdown-item" href="/companion_planting">Companion Planting</a></li>
              <li><a class= "dropdown-item" href="/composting">Composting</a></li>
            </ul>
   
          </li>
  
  
          <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my_garden">My Garden</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/journal">Journal</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <br>
    <br>
    <br>

    <h1>Agricultural Zones</h1>
    
    <br>
    <br>
    <!--Table of Contents to aid in user's navigation of the page-->
    <div class="tableOfContents">
      <a href="#whatIs">What are agricultural zones?</a> <!--Info on what agricultural zones are-->
      <br>
  
      <a href="#resources">Additional Resources</a> <!--Links to additional resuorces-->
      <br>
  
    </div>

    <br>
    <br>
  
    <hr class="dashed">
  
    <h2 id="whatIs">What are agricultural zones?</h2>
    <br>
    <p>Agricultural zones AKA plant hardiness zones are specified regions of the United States defined by the temperature they experience over the course of a year. These agricultural zones let gardeners know what grows best wherever they are, when to plant and harvest, and may inform your watering needs as well. Agricultural zones may seem daunting or confusing at first, but they're a useful tool to help gardeners find information specific to the area they live in. For example: Florida has a uniquely warm climate which means a lot of plants are planted earlier due to the risk of frost subsiding much earlier in Florida than in other states. By understanding which agriculutal zone you are in you can search for plants well suited to your local climate and plant care specific to your region.
      <br><br>
    </p>
    <div class = "container-fluid" >
      <div class = "row" >
        <div class = "col-sm-6" >
          <iframe class="youtube" style="width:99%" width="560" height="315" src="https://www.youtube.com/embed/a9pRyIrzsh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen ></iframe>
        </div>
        <div class = "col-sm-6">
         <iframe class="youtube"  style="width:99%"  width="560" height="315" src="https://www.youtube.com/embed/oPi8a48Adno" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!--Should prob add citation or pic or somthing..-->
  
    <br>
    <br>
  
    <hr class="dashed">
  
    <h2 id="resources">Additional Resources</h2>
    
   
    <!--Need to add in text citations for most of this info.... maybe add a picture-->
    <br>
    <a href="https://planthardiness.ars.usda.gov">https://planthardiness.ars.usda.gov</a>
    <br><br>
    <a href="https://www.almanac.com/what-are-plant-hardiness-zones">https://www.almanac.com/what-are-plant-hardiness-zones</a>
    <br><br>
    <a href="https://ffl.ifas.ufl.edu/resources/ffl-minute-radio/2021-archive/january-2021/plant-hardiness-zones/#:~:text=The%20Department%20of%20Agriculture%20has,best%20suited%20for%20your%20area.">https://ffl.ifas.ufl.edu/resources/ffl-minute-radio/2021-archive/january-2021/plant-hardiness-zones/</a>
    <br>
    <br>
    <br>
    <br>
  
    <!--Add back to top button -->
  
  
  <style>
    body{
      background-color: #FAF9F6;
      margin: auto;
    }
  
    h1{
      text-align: center;
      color: #365E36;
    }
  
    h2{
      text-align: center;
      color: #365E36;
    }
  
    .tableOfContents{
      text-align: center;
      font-size: 20px;
      background-color: #F4FFEB;
   
      border-style: dotted;
      margin-left: 10%;
      margin-right: 10%;
      display: block;
    }
  
    /* unvisited link */
    a:link {
      color: #30007D;
    }
  
    /* visited link */
    a:visited {
      color: #30007D;
    }
  
    /* mouse over link */
    a:hover {
      color: #72418B;
    }
  
    /* selected link */
    a:active {
      color: blue;
    }
  
    hr.dashed {
      border-top: 3px dotted #30007D;
    }
  
    .youtube {
      text-align: center;
     
      /*margin: auto;*/
    }
  </style>