<!--@author Faye Landers-->
<!--This page provides information to experienced gardeners about companion planting. It features a table of contents to navigate info from the short article. -->

<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
  <a class="navbar-brand" href="/" style="font-size: 45px; font-family: 'growingGarden', Verdana;">Flora</a>
  <img src="images/floraIcon.png" width="60" height="60">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Getting Started</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/watering">Watering</a></li>
            <li><a class="dropdown-item" href="/sunlight">Sunlight</a></li>
            <li><a class="dropdown-item" href="/fertilizer">Fertilizer</a></li>
            <li><a class="dropdown-item" href="/diseases_pests_weeds">Diseases, Pests, and Weeds</a></li>
            <li><a class="dropdown-item" href="/agr_zones">Agricultural Zones</a></li>
            <li><a class = "dropdown-item" id="companion_planting" href="/companion_planting">Companion Planting</a></li>
            <li><a class= "dropdown-item" id="composting" href="/composting">Composting</a></li>
          </ul>
 
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/plantSearch">Plant Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_garden">My Garden</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>    
      </ul>
    </div>  
</nav>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>

<body id="topOfPage">

  <h1 >Companion Planting</h1>
  
  <div class= "googleTranslateBox"> 
    <div class="googleTranslate"> <!--Google translate feature-->
      <br>  
        <h6>You can translate this page to 100+ different languages now!</h6>
        <div id="google_translate_element"></div>
    </div>
  </div>
  
  <br>
  <br>
  <!--Table of Contents to aid in user's navigation of the page-->
  <div class="tableOfContents">
    <a href="#whatIs">What is Companion Planting?</a> <!--Info on what Companion Planting is-->
    <br>

    <a href="#benefit">Benefits</a> <!--Common benefits of companion planting-->
    <br>

    <a href="#example">Examples</a> <!--Examples (historical and modern) of iconic companion plants-->
    <br>

    <a href="#commonCompanion">Common Companion Plant Pairings</a> <!--More Companion Plant pairings, but with pictures of each plant-->
    <br>

    <a href="#resource">Additional Resources</a> <!--Extra resources about companion planting-->
    <br>

  </div>

  <br>
  <br>

  <hr class="dashed">

  <h2 id="whatIs">What is companion planting?</h2>
  
  <p>Companion planting is when two or more plants are grown near each other so that they will mutually benefit each other.  There are a variety of ways that plants can benefit each other while growing. Some plants may reduce pests for other plants or increase nutrients for another plant.  Other plants attract polinators, which results in better crop yeild.</p>
  <!--Should prob add citation or pic or somthing..-->

  <br>
  <br>

  <hr class="dashed">

  <h2 id="benefit">Benefits of Companion Planting:</h2>
  <p>Companion planting can boost soil nutrients, attract polinators, reduce pests, reduce weeds, reduce soil erosion as well as shelter plants. </p>
  <p>Some plants, such as legumes, can fix nutrients in the soil. Legumes (such as beans) fix nitrogen in the soil through a symbiotic relationship wiht the bacteria, Rhizobia.  Both the legumes and the bacteria, Rhizobia, are benefitting from their relationship. </p>
  <p>Plants that attract benefical polinators benefit your entire garden. They will help your plants increase their crop yeild.  Attracting polinators supports your local ecosystem. </p>
  <p>Certain plants will attract benefical insects that can reduce pests.  Aphids, a common garden pest, are eaten by ladybug larvae. By planting companion plants that attract beneficial insect, you can reduce the pesticides used in your garden. </p>
  <p>Other plants act as a cover crop to reduce soil erosion, weeds, and to improve soil health. </p>
  <p>Some plants can provide sun and wind shelter for other plants. </p>
  <!--Need to add in text citations for most of this info.... maybe add a picture-->
  <br>
  <br>

  <hr class="dashed">

  <h2 id="example">Companion Plant Examples</h2> <!--Three sisters method-->
  <p>The Three Sisters method was used by the Iroquois.  They planted beans, corn, and squash together.  The beans added nitrogen to the soil. The corn stalks provide support for the beans to grow upwards. The squash covers the ground, preserving the soil's moisture and preventing weeds. </p> <!--Add citation-->
  <p>The Three Sisters method is still commonly used today. </p>

  <br> <!--Useful three sisters youtube video-->
  <div class="youtube">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kRLANoPbs1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="align: center;"></iframe></div> <!--Three sisters Youtube video-->
  
  <br>
  <p>Other companion plant pairings have been found by gardeners through experimentation.  Basil is often planted near tomatoes to discourage common pests that attack tomato plants.</p>
  <br>
  <br>

  <hr class="dashed">

  <h2 id="commonCompanion">Common Companion Plant Pairings:</h2>
  <p>Here are a few common plant pairings: </p>
  <ul> <!--List of common companion plants-->
    <li>Tomato benefits from being planted with basil and a few other herbs. Basil repels common tomato plant bugs like whiteflies, spider mites, and aphids. Basil attracts polinators that benefit the plant. Calendula, dill, and thyme also repel tomato plant pests. Garlic is a natural pest repellant for tomato plants due to its strong odor. Asparagus can protect tomato plants from fungus from a natural fungicide that they produce. Tomato plants can also benefit asparagus plants by repelling asparagus beetles. </li>
    <br>
    <p>Pictured below is a Tomato plant (left) and a Basil plant (right)</p>
    <br>
    <div class="alignPics">
      <img class="pic" src="images/companionPlants/tomatoCompanion.jpg" alt="Tomato Plant">
      <img class="pic" src="images/companionPlants/basilCompanion.jpg" alt="Basil plant">
     
    </div>  
    
    <br>

    <li>Zucchini benefits from being planted with oregano and zinnias to attract polinators. Borage can also attrack polinators as well as deter pest worms. Dill attracts benefical insects that repel pests like cucumber beetles. It can also be planted with Buckwheat to reduce pests. Beans can fix the nitrogen levels in the soil which creates a more suitable PH level for Zucchini. </li>
    <br>
    <p>Pictured below is a Zucchini plant (left) and an Oregano plant (right)</p>
    <br>
    <div class="alignPics">
      <img class="pic" src="images/companionPlants/zucCompanion.jpg" alt="Zucchini plant">
      <img class="pic" src="images/companionPlants/oreganoCompanion.jpg" alt="Oregano Plant">
    </div>  
    
    <br>
    
    <li>Spinach benefits from being planted with herbs like cilantro, oregano, and rosemary to help repel pests. Beans can provide shade for spinach. Onion and garlic can repel pests with their strong scent. They also attract beneficial insects. Plants like broccoli and cabbage are good companion plants for spinach because their root systems are a different soil layer than spinach. When picking companion plants for your garden it is important to make sure they are not competing for nutrients. Planting lettuce with spinach can benefit both plants. Together, they produce more ground cover which lowers the soil temperature, allowing the plant to produce more.  Strawberries produce a similar ground cover effect when planted with lettuce.</li>

    <br>
    <p>Pictured below is a Spinach plant (left) and a Lettuce plant (right)</p>
    <br>
    <div class="alignPics">
      <img class="pic" src="images/companionPlants/spinachCompanion.jpg" alt="Spinach plant">
      <img class="pic" src="images/companionPlants/lettuceCompanion.jpg" alt="Lettuce Plant">
    </div>  

  </ul>


  <br>
  <br>
  <hr class="dashed">

  <h2 id="resource">Additional Resources</h2>
  <ul>
    <li><a href="https://www.farmersalmanac.com/companion-planting-guide">Farmer's Almanac</a></li>
    <li><a href="https://www.thespruce.com/companion-planting-with-chart-5025124">Spruce's Companion Planting</a></li>
    <li><a href="https://extension.umn.edu/planting-and-growing-guides/companion-planting-home-gardens">University of Minnesota Home Garden Companion Planting</a></li>
    <li><a href="https://www.countryliving.com/gardening/news/g4188/companion-planting/">Country Living Companion Planting</a></li>
  </ul>

  <br>
  <br>
  <button onclick="document.location='#topOfPage'">Back To Top</button> <!--Back to top button-->
  <br>
  <br>
  <br>

  </body>
<!--Google Translate feature-->
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<style>
  body{
    background-color: #FAF9F6;
    margin: auto;
  }

  h1{
    text-align: center;
    color: #365E36;
  }

  h2{
    text-align: center;
    color: #365E36;
  }

  .tableOfContents{
    text-align: center;
    font-size: 20px;
    background-color: #F4FFEB;
 
    border-style: dotted;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }

  /* unvisited link */
  a:link {
    color: #30007D;
  }

  /* visited link */
  a:visited {
    color: #30007D;
  }

  /* mouse over link */
  a:hover {
    color: #72418B;
  }

  /* selected link */
  a:active {
    color: blue;
  }

  hr.dashed {
    border-top: 3px dotted #30007D;
  }

  .youtube {
    text-align: center;
    
  }

  .alignPics{
    display: flex;
    /*margin: 30 px;*/
  }

  .pic{
    width: 50%;
    max-height: 300px;
    height: auto;
    margin-right: 10px;
  }

  button{
    background-color: #365E36;
    color: white;
    border-color: #365E36;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
 /*Google Translate*/
 .googleTranslate{
      justify-content: center;
    }
  .googleTranslateBox{
    text-align: center;
    font-size: 20px;
    background-color: #F4FFEB;
  
    border-style: dotted;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }
  @font-face {
      font-family: growingGarden;
      src: url("fonts/growingGarden.ttf") format("truetype");
    }
    .nav-item{
      font-size: 18px;
    }
</style>
<script>
  //adjust nav bar for experience level 
  $(document).ready(()=>{
    $.ajax({
      url:"/getCurrentXP",
      type:'GET',
      success:(data)=>{
        if(data.experience == "Beginner"){
          $("#companion_planting").hide();
          $("#composting").hide();
        }
        if(data.experience == "Intermediate"){
          $("#composting").hide();
        }
      }
    })
  })
  
</script>