<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
    <a class="navbar-brand" href="/">Flora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/plantSearch">Plant Search</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
              Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="/watering">Watering</a></li>
              <li><a class="dropdown-item" href="/sunlight">Sunlight</a></li>
              <li><a class="dropdown-item" href="/fertilizer">Fertilizer</a></li>
              <li><a class="dropdown-item" href="/diseases_pests_weeds">Diseases, Pests, and Weeds</a></li>
              <li><a class="dropdown-item" href="/agr_zones">Agricultural Zones</a></li>
              <li><a class = "dropdown-item" href="/companion_planting">Companion Planting</a></li>
              <li><a class= "dropdown-item" href="/composting">Composting</a></li>
            </ul>
   
          </li>
  
  
          <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my_garden">My Garden</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/journal">Journal</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <br>
    <br>
    <br>

    <h1>Watering</h1>
    
    <br>
    <br>
    <!--Table of Contents to aid in user's navigation of the page-->
    <div class="tableOfContents">
      <a href="#whyIs">Why is watering important?</a> <!--Info on why watering is important-->
      <br>
  
      <a href="#howOften">How often should I water?</a> <!--Tips on how often one should water-->
      <br>
  
      <a href="#tips">Tips for a healthy garden</a> <!--Tips for a healthy garden-->
      <br>
  
    </div>

    <br>
    <br>
  
    <hr class="dashed">
  
    <h2 id="whyIs">Why is watering important?</h2>
    
    <p>Watering a plant is very important for its growth. Plant's use a process called photosynthesis to create energy and water is required for it to work.</p>
    <br>
    <p>Photosynthesis uses carbon dioxide from the air and hydrogen from the water to create a type of sugar that can be used by the plant to grow. </p>
    <br>
    <br>
    <p>Water carries nutrients like the sugar from the leaves to the stems and buds, supporting new growth.</p>
    <br>
    <p>Water helps the plant stay cool by evaporating water in the leaves and taking away excess heat, this also pulls up more water from the ground.</p>
    <br>
    <p>Water provides support to the plant cells and allows it to bend in the wind without breaking.</p>
    <br>
    <p>Without water a plant will start to brown and eventually die.</p>
    <!--Should prob add citation or pic or somthing..-->
  
    <br>
    <br>
  
    <hr class="dashed">
  
    <h2 id="howOften">How often should I water?</h2>
    <p>You should provide a plant with thorough watering every few days. Giving the plant plenty of water but watering less frequently is important for growing deep roots. </p>
   
    <!--Need to add in text citations for most of this info.... maybe add a picture-->
    <br>
    <br>
  
    <hr class="dashed">
  
    <h2 id="tips">Tips for a healthy garden</h2>
    <p>Give the soil time to dry, letting the soil dry slightly makes the plant reach deeper into the ground and creates healthy roots.</p>
    <br>
    <br>
    <p>Water in the evening or early morning, watering while the soil is cool lets the plant absorb more of the moisture before it evaporates.</p>
    <br>
    <br>
    <p>Keep your plant leaves dry, this helps avoid various diseases.</p>
    <br>
    <br>
    <p>Water evenly and gradually. Make sure that the plant is getting an even amount of water from all sides, this helps promote even root growth. Watering gradually allows time for the water to seep into the soil and avoids runoff, try watering in parts.</p>
    <br>
    <br>
    <p>Avoid overwatering, if too much water is left in the soil it can drown the roots of the plant. Make sure your plants have good drainage so the roots can breathe.</p>
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  
    <!--Add back to top button -->
  
  
  <style>
    body{
      background-color: #FAF9F6;
      margin: auto;
    }
  
    h1{
      text-align: center;
      color: #365E36;
    }
  
    h2{
      text-align: center;
      color: #365E36;
    }
  
    .tableOfContents{
      text-align: center;
      font-size: 20px;
      background-color: #F4FFEB;
   
      border-style: dotted;
      margin-left: 10%;
      margin-right: 10%;
      display: block;
    }
  
    /* unvisited link */
    a:link {
      color: #30007D;
    }
  
    /* visited link */
    a:visited {
      color: #30007D;
    }
  
    /* mouse over link */
    a:hover {
      color: #72418B;
    }
  
    /* selected link */
    a:active {
      color: blue;
    }
  
    hr.dashed {
      border-top: 3px dotted #30007D;
    }
  
    .youtube {
      text-align: center;
      
    }
  </style>