<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #365E36;">
  <a class="navbar-brand" href="#">Flora</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Plant Search</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/">Watering</a></li>
            <li><a class="dropdown-item" href="/">Sunlight</a></li>
            <li><a class="dropdown-item" href="/">Fertilizer</a></li>
            <li><a class="dropdown-item" href="/">Diseases, Pests, and Weeds</a></li>
            <li><a class="dropdown-item" href="/">Agricultural Zones</a></li>
            <li><a class = "dropdown-item" href="/companion_planting">Companion Planting</a></li>
            <li><a class= "dropdown-item" href="/composting">Composting</a></li>
          </ul>
 
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">My Garden</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="/">Journal</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="/">Profile</a>
        </li>    
      </ul>
    </div>  
</nav>
<br>
<br>
<br>
<br>

<body>

  <h1>Companion Planting</h1>
  
  <br>
  <br>

  <div class="tableOfContents">
    <a href="#whatIs">What is Companion Planting?</a>
    <br>

    <a href="#benefit">Benefits</a>
    <br>

    <a href="#example">Examples</a>
    <br>

    <a href="#commonCompanion">Common Companion Plant Pairings</a>
    <br>

    <a href="#resource">Additional Resources</a>
    <br>

  </div>

  <br>
  <br>

  <hr class="dashed">

  <h2 id="whatIs">What is companion planting?</h2>
  <p>Companion planting is...................................</p>

  <br>
  <br>

  <hr class="dashed">

  <h2 id="benefit">Benefits of Companion Planting:</h2>
  <p>Benefits of companion planting..........................</p>

  <br>
  <br>

  <hr class="dashed">

  <h2 id="example">Companion Plant Examples</h2>
  <p>A historical example.....</p>

  <br>
  <br>

  <hr class="dashed">

  <h2 id="commonCompanion">Common Companion Plant Pairings:</h2>
  <p>A collection of companion plants.... ...... ........</p>

  <br>
  <br>

  <hr class="dashed">

  <h2 id="resource">Additional Resources</h2>
  <p>Add the additional resources here!</p>
</body>


<style>
  body{
    background-color: #FAF9F6;
    margin: auto;
  }

  h1{
    text-align: center;
    color: #365E36;
  }

  h2{
    text-align: center;
    color: #365E36;
  }

  .tableOfContents{
    text-align: center;
    font-size: 20px;
    background-color: #F4FFEB;
 
    border-style: dotted;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }

  /* unvisited link */
  a:link {
    color: #30007D;
  }

  /* visited link */
  a:visited {
    color: #30007D;
  }

  /* mouse over link */
  a:hover {
    color: #72418B;
  }

  /* selected link */
  a:active {
    color: blue;
  }

  hr.dashed {
    border-top: 3px dotted #30007D;
  }
</style>