<style>
  body{
      background-color: #FAF9F6;
    }
    .loginContainer {
        margin: auto;
        width: 50%;
        padding: 2%;
    }
    .infoContainer{
      margin: auto;
      display: block;
      width: 75%;
      padding: 2%;
    }
    #username, #password {
        margin-left: 5%;
        width: 35%;
    }
    #login, #register {
        margin-right: 15%;
        float: right;
    }
    #userLabel, #passLabel {
        margin-left: 25%
    }
    
    #infoHead, #loginHead {
      margin: auto;
      text-align: center;
      color: #365E36;
    }
    hr.dashed {
        border-top: 3px dotted #30007D;
      }
      @font-face {
      font-family: growingGarden;
      src: url("fonts/growingGarden.ttf") format("truetype");
    }
    .nav-item{
      font-size: 18px;
    }
</style>

<!--NAV BAR-->
<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
  <a class="navbar-brand" href="/" style="font-size: 45px; font-family: 'growingGarden', Verdana;">Flora</a>
  <img src="images/floraIcon.png" width="60" height="60">
</nav>
<!--BODY-->
<body>
  <h1>Flora</h1><br/><br/><br/>
  <div class="loginContainer"> <!-- This is the login container -->
      <h2 id="loginHead">Log In to Flora</h2><br/>
      <label for="username" id="userLabel">Username</label> <!-- Username label -->
      <input name="username" id="username" placeholder="Username"> <!-- Username input -->
      <br/><br/>
      <label for="password" id="passLabel">Password</label> <!-- Password label -->
      <input type="password" name="password" id="password" placeholder="Password"> <!-- Password input -->
      <br/><br/>
      <button id="login">Login</button> <!-- Login button -->
      <br/>
      <br/>
      <button id="register">Create Account</button> <!-- Register button -->
  </div>
  <button id="bypass">Click me to bypass login</button> <!-- Bypass button -->
  <div id="developerSettings" data-devmode="<%=sails.config.custom.devMode%>"></div> <!-- Developer settings -->
  <hr class="dashed"> 
    
    <div class = "infoContainer"> <!-- This is the site information container -->
      <br>
      <h3 id="infoHead">What is Flora? </h2>
      <p> 
        <br> 
        Flora is a personalized planting companion. With Flora you can keep track of your watering schedule, fertilizer schedule, connect with other gardeners through our forum, find information on: pests, diseases, weeds, agricultural zones, watering needs, sun needs, care guides for each plant, companion planting, composting, and more! Flora is suited to your needs based on your experience level, allowing it to be an amazing garden helper! 
      </p>
    </div>
  
</body>




<script>
if ($("#developerSettings").data("devmode")) { // If devmode is true
    $("#bypass").show(); // Show the bypass button
    $("#bypass").on("click", () => { // When the bypass button is clicked
        let devmode = $("#developerSettings").data("devmode");
        if (devmode) { // If devmode is true
            $.ajax({ // Send a request to the login endpoint
                type: 'GET', 
                url: "/user/login",
                dataType: 'json',
                contentType: 'json',
                data: {username: "admin", password: "admin"}, // Use the admin account
                async: false,
                success: (data) => { // If the request is successful
                    if (data.error) { // If there is an error
                      Swal.fire({ // Show an error message
                        icon: 'error',
                        text: data.error
                      })
                    } else { // If there is no error
                      window.location.href = "/"; // Redirect to the home page
                    }
                },
                error: (err) => { // If the request fails
                  Swal.fire({ // Show an error message
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!'
                  })
                }
            });
        }
    });
} else {
    $("#bypass").hide(); // Hide the bypass button
}
$(document).ready(() => { // When the page is ready
    $("#login").on("click", () => { // When the login button is clicked
        let username = $("#username").val(); // Get the username
        let password = $("#password").val(); // Get the password
        $.ajax({ // Send a request to the login endpoint
            type: 'GET', 
            url: "/user/login",
            dataType: 'json',
            contentType: 'json',
            data: {username: username, password: password}, // Use the username and password
            async: false, // Make the request synchronous
            success: (data) => { // If the request is successful
                if (data.error) { // If there is an error
                  Swal.fire({ // Show an error message
                    icon: 'error',
                    text: data.error
                  })
                } else { // If there is no error
                  window.location.href = "/"; // Redirect to the home page
                }
            },
            error: (err) => { // If the request fails
              Swal.fire({ // Show an error message
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!'
              })
            }
        });
    });
    $("#register").on("click", () => { // When the register button is clicked
        window.location.href = "/register"; // Redirect to the register page
    });
});
</script>


