<!--@author Sami Cemek-->
<!--@version 1.0-->
<!--@date 04/28/23-->


<!--Frameworks Used: Bootstrap, Sails.JS-->

<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
    <a class="navbar-brand" href="/" style="font-size: 55px; font-family: 'tropicalTaste', Verdana;">Flora</a>
    <img src="images/floraIcon.png" width="90" height="90">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/plantSearch">Plant Search</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/information">Getting Started</a></li>
              <li><a class="dropdown-item " href="/watering">Watering</a></li>
              <li><a class="dropdown-item" href="/sunlight">Sunlight</a></li>
              <li><a class="dropdown-item" href="/fertilizer">Fertilizer</a></li>
              <li><a class="dropdown-item" href="/diseases_pests_weeds">Diseases, Pests, and Weeds</a></li>
              <li><a class="dropdown-item" href="/agr_zones">Agricultural Zones</a></li>
              <li><a class = "dropdown-item" href="/companion_planting">Companion Planting</a></li>
              <li><a class= "dropdown-item" href="/composting">Composting</a></li>
            </ul>
   
          </li>
  
  
          <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/my_garden">My Garden</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/journal">Journal</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <body>
    <div id="myGardenData" data-tasks="<%=tasks%>" data-plants="<%=plants%>"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class= "googleTranslateBox"> 
      <div class="googleTranslate"> <!--Google translate feature-->
        <br>  
          <h6>You can translate this page to 100+ different languages now!</h6>
          <div id="google_translate_element"></div>
      </div>
    </div>

    <br>

    <h1>My Garden</h1>

    <br>
    <br>

    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-sm-6">
          <div class = "TodayChecklist">
            <h3>Today's Tasks</h3>
            <br>
            <div id="todaysTasks"></div>
          </div>
        </div>
        
        <div class = "col-sm-6">
          <div class="plantHappiness">
            <h3>Plant Happiness</h3>
            <br>
            <br>
            <br>
            <div id="plantHappinessBar" class="progress">
              
            </div>
            <br>
            <br>
            <p style="text-align: center;">
              <img src="images/sadIcon.png" width="50" height="50" style="margin-right: 4em;">
              <span id="plantHappinesScore"></span>
              <img src="images/happyIcon.png" width="50" height="50" style="margin-left: 4em">
            </p>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>


    <h3 style="text-align: center;">My Favorites</h3>
    
    <!-- <p id="demo"> TODO: Are we still allowing users to water plants by clicking on them?
      <img src="images/infoIcon.png" width="40" height="40">
      Water your plants havorering over the plant icons below.
    </p> -->

    <div id="userFavorites" class="grid-container">
    </div>

      <br>
      <br>

      <div class="keyBox" style="margin: auto;">
        <h3 style="text-align: center;">Keys</h3>
        <br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-4" style="text-align: center; background-color: #c3f798;">
              <img src="images/happySadIcon.png" width="70" height="70" style="margin-top: 2em">
            </div>
            <div class="col-4" style="text-align: center; background-color: #F4FFEB;">
              <p>Happy/Sad meter shows the average of task completion.</p>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="col-4" style="text-align: center; background-color: #c3f798;">
              <img src="images/fertilizersIcon.png" width="90" height="90" style="margin-top: 1em">
            </div>
            <div class="col-4" style="text-align: center; background-color: #F4FFEB;">
              <p>Fertilizer shows how often you need to fertilize your plants.</p>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="col-4" style="text-align: center; background-color: #c3f798;">
              <img src="images/plantIcon.png" width="70" height="70" style="margin-top: 1em; margin-bottom: 1em;">
            </div>
            <div class="col-4" style="text-align: center; background-color: #F4FFEB;">
              <p>Plant shows the favorite plants in your garden.</p>
            </div>
          </div>
        </div>
      </div>

    <br>
    <br>

    <h3 style="text-align: center;"> My Plants </h3>
    <br>

    <div class="container">
      <div id="myPlantColumn1" class="row justify-content-center">
      </div>
      <br>
      <div id="myPlantColumn2" class="row justify-content-center">
      </div>
    </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <script>
    async function ajaxCall(url, params) {
      return new Promise((resolve, reject) => {
        try {
          $.ajax({ //send ajax request to logout
            url: url,
            type: "GET",
            data: params,
            success: function(data) { //on success
              if (!data.success) {
                Swal.fire({ //show error alert
                  title: "Error",
                  text: data.error,
                  icon: "error",
                  confirmButtonText: "Ok"
                })
              }
              resolve(data);
            },
            error: function(err) { //on error
              resolve({ success: false, error: err });
            }
          });
        } catch (err) {
          resolve({ success: false, error: err });
        }
      });
    }
    function updateTask(taskId) {
      const taskCompleted = $(`#task${taskId}`).is(":checked");
      ajaxCall("/updateTask", { taskId, taskCompleted });
    }
    function updatePlantHappinessBar() {
      let taskCompletedCounter = 0;
        let taskTotalCounter = 0;
        $(".userPlantTask").each(function() {
          const taskCompleted = $(this).is(":checked");
          if (taskCompleted) {
            taskCompletedCounter += parseInt($(this).data("plantquantity"));
          }
          taskTotalCounter += parseInt($(this).data("plantquantity"));
        });
        const plantPercentage = Math.round(((taskTotalCounter > 0 ? taskCompletedCounter : 1) / (taskTotalCounter > 0 ? taskTotalCounter : 1)) * 100);
        $("#plantHappinesScore").html(`You watered ${taskCompletedCounter}/${taskTotalCounter} of your plants today.`);
        $("#plantHappinessBar").html(`
          <div class="progress-bar" role="progressbar" style="width:${plantPercentage}%" aria-valuenow="${plantPercentage}" aria-valuemin="0" aria-valuemax="100">${plantPercentage}%</div>
        `);
    }
    function removePlant(plantId) {
      Swal.fire({
        title: "Are you sure?",
        text: "You will not be able to recover this plant!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, keep it"
      }).then((result) => {
        if (result.isConfirmed) {
          ajaxCall("/removePlant", { plantId });
          Swal.fire(
            "Deleted!",
            "Your plant has been deleted.",
            "success"
          ).then(() => {
            location.reload();
          });
        }
      });
    }
    async function favoritePlant(plantId, isFavorite) {
      const result = await ajaxCall("/favoritePlant", { plantId, isFavorite });
      if (result.success) {
        location.reload();
      } else {
        Swal.fire({
          title: "Error",
          text: result.error,
          icon: "error",
          confirmButtonText: "Ok"
        });
      }
    }
    function displayPlantInfo(plantID, userPlantID, plantName, plantImage, isFavorite, waterFrequency, fertilizerFrequency) {
      Swal.fire({
        title: `<strong><a href="/plantInfo/${plantID}">${plantName}</a></strong>`,
        html: 
        `<div class="container"><div class="col-auto">` +
        `<svg style="width: 10%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M269.5 69.9c11.1-7.9 25.9-7.9 37 0C329 85.4 356.5 96 384 96c26.9 0 55.4-10.8 77.4-26.1l0 0c11.9-8.5 28.1-7.8 39.2 1.7c14.4 11.9 32.5 21 50.6 25.2c17.2 4 27.9 21.2 23.9 38.4s-21.2 27.9-38.4 23.9c-24.5-5.7-44.9-16.5-58.2-25C449.5 149.7 417 160 384 160c-31.9 0-60.6-9.9-80.4-18.9c-5.8-2.7-11.1-5.3-15.6-7.7c-4.5 2.4-9.7 5.1-15.6 7.7c-19.8 9-48.5 18.9-80.4 18.9c-33 0-65.5-10.3-94.5-25.8c-13.4 8.4-33.7 19.3-58.2 25c-17.2 4-34.4-6.7-38.4-23.9s6.7-34.4 23.9-38.4C42.8 92.6 61 83.5 75.3 71.6c11.1-9.5 27.3-10.1 39.2-1.7l0 0C136.7 85.2 165.1 96 192 96c27.5 0 55-10.6 77.5-26.1zm37 288C329 373.4 356.5 384 384 384c26.9 0 55.4-10.8 77.4-26.1l0 0c11.9-8.5 28.1-7.8 39.2 1.7c14.4 11.9 32.5 21 50.6 25.2c17.2 4 27.9 21.2 23.9 38.4s-21.2 27.9-38.4 23.9c-24.5-5.7-44.9-16.5-58.2-25C449.5 437.7 417 448 384 448c-31.9 0-60.6-9.9-80.4-18.9c-5.8-2.7-11.1-5.3-15.6-7.7c-4.5 2.4-9.7 5.1-15.6 7.7c-19.8 9-48.5 18.9-80.4 18.9c-33 0-65.5-10.3-94.5-25.8c-13.4 8.4-33.7 19.3-58.2 25c-17.2 4-34.4-6.7-38.4-23.9s6.7-34.4 23.9-38.4c18.1-4.2 36.2-13.3 50.6-25.2c11.1-9.4 27.3-10.1 39.2-1.7l0 0C136.7 373.2 165.1 384 192 384c27.5 0 55-10.6 77.5-26.1c11.1-7.9 25.9-7.9 37 0zm0-144C329 229.4 356.5 240 384 240c26.9 0 55.4-10.8 77.4-26.1l0 0c11.9-8.5 28.1-7.8 39.2 1.7c14.4 11.9 32.5 21 50.6 25.2c17.2 4 27.9 21.2 23.9 38.4s-21.2 27.9-38.4 23.9c-24.5-5.7-44.9-16.5-58.2-25C449.5 293.7 417 304 384 304c-31.9 0-60.6-9.9-80.4-18.9c-5.8-2.7-11.1-5.3-15.6-7.7c-4.5 2.4-9.7 5.1-15.6 7.7c-19.8 9-48.5 18.9-80.4 18.9c-33 0-65.5-10.3-94.5-25.8c-13.4 8.4-33.7 19.3-58.2 25c-17.2 4-34.4-6.7-38.4-23.9s6.7-34.4 23.9-38.4c18.1-4.2 36.2-13.3 50.6-25.2c11.1-9.5 27.3-10.1 39.2-1.7l0 0C136.7 229.2 165.1 240 192 240c27.5 0 55-10.6 77.5-26.1c11.1-7.9 25.9-7.9 37 0z"/></svg>` + 
        `<span style="margin-left: 5%;">Every ${waterFrequency} Day${waterFrequency > 1 ? 's' : ''}</span><br><br>` +
        `<svg style="width: 10%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>` +
        `<span style="margin-left: 5%;">Every ${fertilizerFrequency} Day${fertilizerFrequency > 1 ? 's' : ''}</span><br><br>` +
        `${isFavorite ? '<svg style="width: 10%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>' : '<svg style="width: 10%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.6 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"/></svg>'}` +
        `<button style="margin-left: 5%;" onclick="favoritePlant(${userPlantID}, ${!isFavorite})">${isFavorite ? 'Unfavorite' : 'Favorite'}</button><br><br>` +
        `<svg style="margin-left: 5%; width: 10%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg>` +
        `<button style="margin-left: 5%;" onclick="removePlant(${userPlantID})">Remove Plant</button>` +
        `</div>`,
        showCloseButton: true,
      })
    }
    $(document).ready(function() {
      const userTasks = $("#myGardenData").data("tasks");
      for (const task of userTasks) {
        const itemHTML = `
        <input type="checkbox" class="userPlantTask" data-taskid="${task.id}" data-plantquantity="${task.userPlantID.quantity}" onclick="updateTask(${task.id})" id="task${task.id}" name="task${task.id}" value="task${task.id}" ${task.taskCompleted ? "checked" : ""}>
        <label for="task${task.id}">${task.taskName}</label><br>
        `;
        $("#todaysTasks").append(itemHTML);
      }
      const userPlants = $("#myGardenData").data("plants");
      let column1 = true;
      let favoriteCounter = 0;
      for (const plant of userPlants) {
        if (plant.isFavorite && favoriteCounter < 9) {
          $("#userFavorites").append(`
            <div class="grid-item"><img onclick="displayPlantInfo(${plant.plantID.id}, ${plant.id}, '${plant.plantID.name}', '${plant.plantID.images}', ${plant.isFavorite}, ${plant.waterFrequency}, ${plant.fertilizerFrequency})" src="${plant.plantID.images}" alt="${plant.plantID.name} png" width="200" height="200"></div>
          `);
          favoriteCounter++;
        }
        if (column1) {
          $("#myPlantColumn1").append(`
          <div class="col-4" style="text-align: center;">
            <a onclick="displayPlantInfo(${plant.plantID.id}, ${plant.id}, '${plant.plantID.name}', '${plant.plantID.images}', ${plant.isFavorite}, ${plant.waterFrequency}, ${plant.fertilizerFrequency})">${plant.plantID.name}</a>
          </div>`);
          column1 = false;
        } else {
          $("#myPlantColumn2").append(`
          <div class="col-4" style="text-align: center;">
            <a onclick="displayPlantInfo(${plant.plantID.id}, ${plant.id}, '${plant.plantID.name}', '${plant.plantID.images}', ${plant.isFavorite}, ${plant.waterFrequency}, ${plant.fertilizerFrequency})">${plant.plantID.name}</a>
          </div>`);
          column1 = true;
        }
      }
      //Add user task event update function
      $(".userPlantTask").change(function() {
        updatePlantHappinessBar();
      });
      updatePlantHappinessBar(); //Call function once to initialize the bar
    });
    function myFunction() {
      document.getElementById("demo").innerHTML = "You watered the plant!";
      //document.getElementsByClassName("grid-item").innerHTML = "You watered the plant!";
    }
  </script>
  <!--Google Translate feature-->
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </body>

  <style>    
  
  body{
      background-color: #FAF9F6;
      margin: auto;

      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  
    h1{
      text-align: center;
      color: #365E36;
    }
  
    h2{
      text-align: center;
      color: #365E36;
    }

    .grid-container img {
        cursor: url("images/wateringCan.png"), auto;
    }

    .grid-container {
        display: grid;
        gap: 20px;
        grid-template-columns: auto auto auto;
        background-color: #964B00;
        padding: 10px;
        margin: 20px 120px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        text-align: center;
    }

    .keyBox{
      background-color: lightgrey;
      width: 500px;
      border: 15px solid #365E36;
      padding: 20px;
      margin: 20px;
    }

    .googleTranslateBox{
      text-align: center;
      font-size: 20px;
      background-color: #F4FFEB;
   
      border-style: dotted;
      margin-left: 10%;
      margin-right: 10%;
      display: block;
    }

    /*Google Translate*/
    .googleTranslate{
      justify-content: center;
    }

    /*Fonts*/
    @font-face {
      font-family: bohoLife;
      src: url("fonts/bohoLife.ttf") format("truetype");
    }

    @font-face {
      font-family: growingGarden;
      src: url("fonts/growingGarden.ttf") format("truetype");
    }

    @font-face {
      font-family: myLeaf;
      src: url("fonts/myLeaf.ttf") format("truetype"),
           url("fonts/myLeaf.otf") format("opentype");
    }

    @font-face {
      font-family: tropicalTaste;
      src: url("fonts/tropicalTaste.otf") format("opentype");
    }
    
</style>