<!-- STYLE -->
<style>
/* unvisited link */
body{
      background-color: #FAF9F6;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
form{
    
    width: 75%;
}
#favorite{
    margin-left: 40%;
}
#fav_label{
    margin-left:2%;
}
label{
    margin-left: 40%;
}
#submit{
    float: right;
}
    h2{
          text-align: center;
          color: #365E36;
        }
    a:link {
        color: #30007D;
    }
    
    /* visited link */
    a:visited {
        color: #30007D;
    }
    /* mouse over link */
    a:hover {
        color: #72418B;
    }
    
    /* selected link */
    a:active {
        color: blue;
    }
    
    hr.dashed {
        border-top: 3px dotted #30007D;
    }
    @font-face {
      font-family: growingGarden;
      src: url("fonts/growingGarden.ttf") format("truetype");
    }
    .nav-item{
      font-size: 18px;
    }
</style>

<!-- NAV BAR -->
<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
  <a class="navbar-brand" href="/" style="font-size: 45px; font-family: 'growingGarden', Verdana;">Flora</a>
  <img src="images/floraIcon.png" width="60" height="60">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/plantSearch">Plant Search</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/information">Getting Started</a></li>
            <li><a class="dropdown-item " href="/watering">Watering</a></li>
            <li><a class="dropdown-item" href="/sunlight">Sunlight</a></li>
            <li><a class="dropdown-item" href="/fertilizer">Fertilizer</a></li>
            <li><a class="dropdown-item" href="/diseases_pests_weeds">Diseases, Pests, and Weeds</a></li>
            <li><a class="dropdown-item" href="/agr_zones">Agricultural Zones</a></li>
            <li><a class = "dropdown-item" id="companion_planting" href="/companion_planting">Companion Planting</a></li>
            <li><a class= "dropdown-item" id="composting" href="/composting">Composting</a></li>
          </ul>
 
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/my_garden">My Garden</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>    
      </ul>
    </div>  
</nav>

<body>
    <div id="plantDataDiv" data-plant="<%=plantInfo%>"></div>
    <br><br><br><br>
    <h2 id="plantNameHeader"> Add PLANTNAME to My Garden</h2>
    <!--Number input and select for watering frequency-->
    <br>
    <label for="water">Water every </label>
    <input class = "water" type="number" id="water" name="water" min="0">
    <select class = "water_time" type="select" id="water_time" name="water_time">
        <option value="day">Day(s)</option>
        <option value="week">Week(s)</option>
        <option value="month">Month(s)</option>
    </select>
    <!--Number input and select for fertilizer frequency-->
    <br><br>
    <label for="fertilizer">Fertilize every </label>
    <input class = "fertilizer" type="number" id="fertilizer" name="fertilizer" min="0">
    <select class = "f_time" type="select" id="f_time" name="f_time">
        <option value="day">Day(s)</option>
        <option value="week">Week(s)</option>
        <option value="month">Month(s)</option>
    </select>
    <!--Number input for selecting quantity-->
    <br><br>
    <label for="quantity">Quantity </label>
    <input class = "quantity" type="number" id="quantity" name="quantity" min="1">
    <!--Radio button for selecting favorite-->
    <br><br>
    <input class = "favorite" type="checkbox" id="favorite" name="favorite">
    <label for="favorite" id ="fav_label">Favorite</label>
    <br>
    <br>
    <input type="submit" value="Submit" id="submit">
</body>

<script>
  async function ajaxCall(url, params) {
      return new Promise((resolve, reject) => {
        try {
          $.ajax({ //send ajax request to logout
            url: url,
            type: "GET",
            data: params,
            success: function(data) { //on success
              if (!data.success) {
                Swal.fire({ //show error alert
                  title: "Error",
                  text: data.error,
                  icon: "error",
                  confirmButtonText: "Ok"
                })
              }
              resolve(data);
            },
            error: function(err) { //on error
              resolve({ success: false, error: err });
            }
          });
        } catch (err) {
          resolve({ success: false, error: err });
        }
      });
    }
  $(document).ready(() => {
    const plantData = $('#plantDataDiv').data('plant');
    $("#plantNameHeader").text(`Add ${plantData.name} to My Garden`);
    $("#submit").on("click", async () => {
      let water = $("#water").val();
      const water_time = $("#water_time").val();
      if (water_time === "week") {
        water = water * 7;
      } else if (water_time === "month") {
        water = water * 30;
      }
      let fertilizer = $("#fertilizer").val();
      const f_time = $("#f_time").val();
      if (f_time === "week") {
        fertilizer = fertilizer * 7;
      } else if (f_time === "month") {
        fertilizer = fertilizer * 30;
      }
      const quantity = $("#quantity").val();
      const favorite = $("#favorite").is(":checked");
      const plantId = plantData.id;
      const data = {
        water,
        fertilizer,
        quantity,
        favorite,
        plantId
      };
      const result = await ajaxCall("/userAddPlant", data);
      if (result.success) {
        window.location.href = "/my_garden";
      }
    });
  });
</script>

<script>
  $(document).ready(()=>{
    $.ajax({
      url:"/getCurrentXP",
      type:'GET',
      success:(data)=>{
        if(data.experience == "Beginner"){
          $("#companion_planting").hide();
          $("#composting").hide();
        }
        if(data.experience == "Intermediate"){
          $("#composting").hide();
        }
      }
    })
  })
</script>