<!--@author Faye Landers
  --@purpose Allow website users to search for a specific plant. Users will click on plant for info.-->
<nav class="navbar navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3C683C;">
    <a class="navbar-brand" href="/">Flora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/plantSearch">Plant Search</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="/watering">Watering</a></li>
              <li><a class="dropdown-item" href="/sunlight">Sunlight</a></li>
              <li><a class="dropdown-item" href="/fertilizer">Fertilizer</a></li>
              <li><a class="dropdown-item" href="/diseases_pests_weeds">Diseases, Pests, and Weeds</a></li>
              <li><a class="dropdown-item" href="/agr_zones">Agricultural Zones</a></li>
              <li><a class = "dropdown-item" href="/companion_planting">Companion Planting</a></li>
              <li><a class= "dropdown-item" href="/composting">Composting</a></li>
            </ul>
   
          </li>
  
  
          <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my_garden">My Garden</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/journal">Journal</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <!--Line breaks for spacing-->
  <br>
  <br>
  <br>

  <h1>Plants</h1>

  <br> <!--spacing for readability-->

  <form>
    <input type="text" id="plantSearchBar" onkeyup="searchForPlants()" placeholder="Search for a plant.." title="Type in a plant">

  </form>

  <!--This search bar is not showing up like I want it to yet-->
  <!--div class="searchIconButton">
    <input id="search" type="search" placeholder="search your products here">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/750px-Search_Icon.svg.png" style="cursor: pointer; height: 100%;" onclick="alert('search: ' + document.querySelector('#search').value);">
  </div-->


  <style>
    body{
      background-color: #FAF9F6;
      margin: auto;
    }
  
    h1{
      /*text-align: center;*/
      color: #365E36;
    }
  
    h2{
     /* text-align: center; */
      color: #365E36;
    }
  
  /*  .tableOfContents{
      text-align: center;
      font-size: 20px;
      background-color: #F4FFEB;
   
      border-style: dotted;
      margin-left: 10%;
      margin-right: 10%;
      display: block;
    }*/
  
    /* unvisited link */
    a:link {
      color: #30007D;
    }
  
    /* visited link */
    a:visited {
      color: #30007D;
    }
  
    /* mouse over link */
    a:hover {
      color: #72418B;
    }
  
    /* selected link */
    a:active {
      color: blue;
    }
  
    hr.dashed { /*dashed border*/
      border-top: 3px dotted #30007D;
    }
  
    /*
    .youtube {/*Centered Youtube video
      text-align: center;
      
    } */

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      max-height: 50%;
    }
   /* button{ /*Back to Top Button Styling
      background-color: #365E36;
      color: white;
      border-color: #365E36;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    } */

    /*Test Styling for first search bar*/
    #plantSearchBar {
     /* background-image: url('/images/plantSearch/searchicon.png'); */
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
      display: inline-flex; 
    }

    /*Test styling for second search bar*/
    .searchIconButton {
      background: #ddd; 
      display: inline-flex; 
      height: 32px;
      width: 100%;
    }
      </style>
